node_modules/
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt


.idea/
node_modules/
build/
extensions/
.env
models/boxmaps/50-zeusrepoeos.json

contracts/eos/compile_commands.json
contracts/eos/*service/*service.cpp
contracts/eos/dappservices/*

models/.placeholder



contracts/eos/.placeholder
contracts/eos/CMakeLists.txt
contracts/eos/Common/events.hpp
models/events/.placeholder
contracts/eos/Common/base/base58.hpp
contracts/eos/Common/base/base64.hpp
contracts/eos/Common/string/bytes/string-5bit.hpp
contracts/eos/Common/string/bytes/string-6bit.hpp
contracts/eos/Common/string/uint128_t/string16-8bit.hpp
contracts/eos/Common/string/uint128_t/string21-6bit.hpp
contracts/eos/Common/string/uint128_t/string25-5bit.hpp
contracts/eos/Common/string/uint256_t/string32-8bit.hpp
contracts/eos/Common/string/uint256_t/string42-6bit.hpp
contracts/eos/Common/string/uint256_t/string50-5bit.hpp
contracts/eos/Common/string/uint64_t/string11-6bit.hpp
contracts/eos/Common/string/uint64_t/string12-5bit.hpp
contracts/eos/Common/string/uint64_t/string8-8bit.hpp
contracts/eos/eosio.bios/eosio.bios.abi
contracts/eos/eosio.bios/eosio.bios.wasm
contracts/eos/eosio.bios/eosio.bios.wast
contracts/eos/eosio.msig/eosio.msig.abi
contracts/eos/eosio.msig/eosio.msig.wasm
contracts/eos/eosio.msig/eosio.msig.wast
contracts/eos/eosio.sudo/eosio.sudo.abi
contracts/eos/eosio.sudo/eosio.sudo.wasm
contracts/eos/eosio.sudo/eosio.sudo.wast
contracts/eos/eosio.system/eosio.system.abi
contracts/eos/eosio.system/eosio.system.wasm
contracts/eos/eosio.system/eosio.system.wast
contracts/eos/eosio.token/eosio.token.abi
contracts/eos/eosio.token/eosio.token.wasm
contracts/eos/eosio.token/eosio.token.wast
test/.placeholder
.env
test/encrypted-key.spec.js


migrations/55-contracts.js
models/contract-deployments/.placeholder



models/boxmaps/00-mapping.json

models/repos/zeusrepoeos.json



migrations/.placeholder

models/templates/.placeholder
templates/.placeholder
models/templates/emptycontract-eos-cpp.json
templates/emptycontract-eos-cpp/generators/app/index.js
templates/emptycontract-eos-cpp/generators/app/templates/CMakeLists.txt
templates/emptycontract-eos-cpp/generators/app/templates/main.cpp
templates/emptycontract-eos-cpp/generators/app/test-templates/contract.spec.js
templates/emptycontract-eos-cpp/package.json

services/.placeholder
models/captured-events/.placeholder
services/demux/backends/abis/abi.js
services/demux/backends/abis/abiabi.js
services/demux/backends/state_history_abi.js
services/demux/backends/state_history_plugin.js
services/demux/index.js
client/.eslintrc.js
client/.gitignore
client/.npmignore
client/LICENSE
client/examples/client.ts
client/examples/get_dapphdl_accounts.ts
client/examples/get_package_info.ts
client/examples/get_table_accountext.ts
client/examples/get_table_accountext_by_account_service.ts
client/examples/get_table_accountext_by_account_service_provider.ts
client/examples/get_table_package.ts
client/examples/get_table_package_by_package_service_provider.ts
client/examples/get_table_refunds.ts
client/examples/get_table_staking.ts
client/nodemon.json
client/package.json
client/src/dapp-airhodl.ts
client/src/dapp-client-lib.ts
client/src/dapp-common.ts
client/src/dapp-network.ts
client/src/dsp-service-client.ts
client/src/eos-wrapper.ts
client/src/eosio-client.ts
client/src/http-client.ts
client/src/network-config.json
client/src/services/.placeholder
client/src/types/chain/get_info.ts
client/src/types/chain/get_table_rows.ts
client/src/types/dappairhodl1.ts
client/src/types/dappservices.ts
client/src/types/dsp/provider_info.ts
client/src/types/endpoints.ts
client/src/types/error.ts
client/src/types/http-client.ts
client/src/types/index.ts
client/src/types/names.ts
client/src/utils.ts
client/tsconfig.json
client/tslint.json
services/ipfs-daemon/index.js
contracts/eos/allservices/allservices.cpp
contracts/eos/dappservices/dappservices.contracts.md
contracts/eos/dappservices/dappservices.cpp
contracts/eos/dappservices/dappservices.hpp
migrations/11-dappservices.js
models/captured-events/dappservice.request.1.json
models/captured-events/dappservice.request.json
models/captured-events/dappservice.signal.1.json
models/captured-events/dappservice.signal.json
models/captured-events/dappservice.usage.1.json
models/captured-events/dappservice.usage.json
models/dapp-services/.placeholder
models/deploy-dapp-services/.placeholder
services/dapp-services-node/common.js
services/dapp-services-node/dal/config/config.js
services/dapp-services-node/dal/dal.js
services/dapp-services-node/dal/migrations/20190915114808-create-settings.js
services/dapp-services-node/dal/migrations/20190916125227-create-service-request.js
services/dapp-services-node/dal/models/ServiceRequest.js
services/dapp-services-node/dal/models/Settings.js
services/dapp-services-node/dal/models/index.js
services/dapp-services-node/generic-dapp-service-node.js
services/dapp-services-node/index.js
services/dapp-services-node/kms.js
utils/.placeholder
utils/cleanup.js
services/oracle-dapp-service-node/protocols/http+json.js
services/oracle-dapp-service-node/protocols/http+post.js
services/oracle-dapp-service-node/protocols/http.js
services/oracle-dapp-service-node/protocols/https+json.js
services/oracle-dapp-service-node/protocols/https+post+json.js
services/oracle-dapp-service-node/protocols/https+post.js
services/oracle-dapp-service-node/protocols/https.js
test/oracle-web.spec.js
services/oracle-dapp-service-node/protocols/self_history.js
test/oracle-self-history.spec.js
services/oracle-dapp-service-node/protocols/random.js
test/oracle-random.spec.js
services/oracle-dapp-service-node/protocols/sister_chain_block.js
services/oracle-dapp-service-node/protocols/sister_chain_history.js
test/oracle-sister-chain.spec.js
contracts/eos/dappservices/_oracle_impl.hpp
contracts/eos/oracleconsumer/oracleconsumer.cpp
models/dapp-services/oracle.json
services/oracle-dapp-service-node/index.js
services/oracle-dapp-service-node/protocols/.placeholder
test/oracleconsumer.spec.js


# CUSTOM
logs/
*.sqlite
contracts/eos/*-prefix/