zeus_boxes/*
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt

.idea/
.env

!zeus_boxes/contracts
zeus_boxes/contracts/*
!zeus_boxes/contracts/eos
zeus_boxes/contracts/eos/*
!zeus_boxes/contracts/eos/pricefeed
!zeus_boxes/contracts/eos/CMakeLists.txt

!zeus_boxes/test
zeus_boxes/test/*
!zeus_boxes/test/pricefeed*

!zeus_boxes/start-localenv
zeus_boxes/start-localenv/*
!zeus_boxes/start-localenv/02-*
!zeus_boxes/start-localenv/05-*
!zeus_boxes/start-localenv/21-*

!zeus_boxes/liquidx
zeus_boxes/liquidx/*
!zeus_boxes/liquidx/models

*.sqlite
logs/*
eosiac.yml